name: CI
on:
  release:
    types: [created]
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Run a one-line script
        run: bash -x build.sh
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: /home/runner/work/nr-worldmap-handson/nr-worldmap-handson/recamera/git-2.52.0/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
